<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wild Circus</title>
    <link rel="icon" type="image/png" href="../../static/img/logo.png" th:href="@{../img/logo.png}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo&display=swap" rel="stylesheet">
</head>
<body class="container">
    
    <div th:replace="fragments/header :: header"></div>
    <div class="d-flex justify-content-center">
        <img src="../img/logo.png" alt="wildcircus">
    </div>
        <h1 class="text-center mb-5">Welcome to the Wild Circus</h1>
    <div class="row">
        <div class="blockacceuil col-4 my-5">
            <h2>Laugh As</h2>
            <p> an adult, come and discover our irresistible clowns, between practical jokes and pranks let yourself be carried away by their joy and fall back into childhood.</p>
        </div>
        <div class="blockacceuil col-4 my-5">
            <h2>Dream</h2>
            <p> Let yourself be carried away in a world where the real and the imaginary are one, in the company of our talented magicians, discover a wonderful world limited only by your imagination.</p>
        </div>
        <div class="blockacceuil col-4 my-5">
            <h2>Marvel at</h2>
            <p>Tame the untameable in the company of our tamers, between roar and razor-sharp claws, watch these fierce felines turn into sweet kittens.</p>
        </div>
    </div>
    <section>
        <h2>Circus Acts</h2>
        
        <div>
            <h3>Aerial acts </h3>
            <p>There are different kinds of aerial props used by aerial acts or performers: trapeze, aerial silk, straps, aerial ring, rope, ...</p>
        </div>
        <hr>
        <div>
            <h3 class="right">Animal acts </h3>
            <p>A variety of animals have historically been used in acts. While the types of animals used vary from circus to circus, big cats, elephants, horses, birds, sea lions and domestic animals are the most common.</p>
        </div>
        <hr >
        <div >
            <h3> Chinese pole acts </h3>
            <p> Chinese Poles are vertical steel poles on which circus performers climb, slide down and hold poses. The poles are generally between 3 and 9 metres in height and approximately 3 to 4 inches in diameter. A few Chinese poles tricks have been incorporated with erotic pole dancing techniques.</p>
        </div>
        <hr>
        <div>
            <h3 class="right">Clowns and comedy acts </h3>
            <p> clown is a performance artist often associated with a circus and typically characterised by bright, oversized clothing, a red nose, face paint, and a brightly colored wig and who performs slapstick. Nowadays, modern clowns do not often wear make-up.</p>
        </div>
        <hr>
        <div>
            <h3> Contortionists</h3>
            <p>contortionist is an acrobat who is capable of twisting his body into unusual positions. They are usually also able to perform hand-stands.</p>
        </div>
        <hr>
        <div>
            <h3 class="right">Foot jugglers and antipodists </h3>
            <p>An antipodist could be defined as a foot juggler.He or she can do many things with his feet such as juggling with balls, carpets, cylinders, and even people!</p>
        </div>
        <hr>
        <div>
            <h3> German and Cyr wheels</h3>
            <p>Wheel gymnastics (German: Rhönradturnen) is a kind of gymnastics which originates in Germany. Wheel gymnasts do exercises in a big wheel: the gymnastics wheel (gym wheel, German wheel, Rhönrad). On the other hand a Cyr wheel has the particularuty to have only one circle compare to the German wheel.</p>
        </div>
        <hr>
        <div>
            <h3 class="right"> Handbalance acts</h3>
            <p>A handstand is the act of standing erect, but upside down, with one's hands on the ground and feet in the air. The basic handstand has legs extended vertically with no knee bend, hands roughly shoulder-width apart, and head facing forward, but there are numerous variations. Performing a handstand requires good upper body strength. Handstands are performed in many athletic activities, including breakdance, fitness competitions, circus acrobatics, cheerleading, and martial arts like Capoeira.</p>
        </div>
        <hr>
        <div>
            <h3> Jugglers</h3>
            <p> Juggling can refer to all forms of artful or skillful object manipulation. This includes most prop-based circus skills such as diabolo, devil sticks, poi, cigar box manipulation, fire-dancing, contact juggling, and hat manipulation. Jugglers often refer to the objects they juggle as props, the most popular being specially made balls, beanbags, rings, clubs, or bouncing balls. Some performers also use "dangerous" objects such as chainsaws, knives and fire torches.
                </p>
        </div>
        <hr>
        <div>
            <h3 class="right"> Rola-bola</h3>
            <p> The rola bola (also known as a "rolla bolla," a "rolo bolo," a "roly boly," a "balance board," a "rocker-roller board" and a "bongo board") in its simplest form is a plank on a cylinder on which a person balances. The plank rocks back and forth on the cylinder like a seesaw but its pivot point shifts back and forth as the cylinder rolls beneath the plank. With a bit of practice, balancing on a rola bola is not too difficult.</p>
        </div>
        <hr>
        <div>
            <h3>Rope walkers </h3>
            <p>You have different categories of rope walkers: the high wire acts, the funambulists, the slack wire acts, the low wire, ...</p>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>