<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Wild Circus</title>
    <link rel="icon" type="image/png" href="../../static/images/logo.png" th:href="@{../images/logo.png}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo&display=swap" rel="stylesheet">
</head>

<body class="container">

    <div th:replace="fragments/header :: header"></div>


    <form th:action="@{/reservations/add}" th:object="${reservation}" method="Post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Enter your name :</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select number to buy : </label>
            <select class="form-control" id="exampleFormControlSelect1" th:field="*{ticketnumber}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="btncenter">
            <button type="submit" class="btn btn-primary mb-2">buy</button>
        </div>
    </form>
    
        <div class="d-flex justify-content-center">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>number of ticket bought</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reservation : ${reservations}">
                        <td th:text="${reservation.name}">
                            
                        </td>				
                        <td th:text="${reservation.ticketnumber}">
                        </td>				
                    </tr>
                </tbody>		
            </table>
        </div>
        
    <div class="tablemove">
        <table>
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Price $
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="price : ${prices}">
                    <th th:text="${price.category}" >
                        price
                    </th>
                    <td th:text="${price.price}">
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>